/* GENERAL RULES FOR HTML */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  /* scroll-behavior: smooth; */
  background-color: #2f3640;
}

/* Back to Top Button */

/* Temporary Alert  */
.alert {
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: #af6900;
  opacity: 1;
  transition: opacity 0.6s;
  bottom: 0px;
  text-align: center;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-size: 2rem;
  float: right;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
/* Temporary Alert End */

.section {
  height: 100vh;
  width: 100%;
}

/* HEADER */
/* NAVIGATION */
.nav {
  padding-top: 20px;
  font-size: 1.3rem;
  user-select: none;
}
/* Logo */
.nav-logo {
  margin-left: 7%;
  user-select: none;
  font-size: 1.4rem;
}
/* Toggle Button */
.nav-toggle {
  display: block;
  float: right;
  padding-right: 7%;
  border: none;
  font-size: 1.4rem;
  background: none;
  color: whitesmoke;
  outline: none;
  cursor: pointer;
}
.nav-toggle:active {
  transform: translateY(2px);
}

/* Links */
.nav-list {
  display: none;
  margin-top: 5px;
  padding: 0 1%;
  margin: 5px 6.5% 0;
  font-size: 1rem;
  font-weight: 400;
  list-style: none;
}
.nav-list li {
  padding-bottom: 4px;
  padding-top: 4px;
}
.nav-list li:not(:last-child) {
  border-bottom: solid 2px #af6900;
}
.nav-list a:hover {
  opacity: 0.8;
}
.nav-logo:link,
.nav-logo:visited,
.nav-link:link,
.nav-link:visited {
  color: azure;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}
.nav-logo:hover {
  border-bottom: 2px solid #f05555;
}
/* HEADER CONTEXT */
.header-context {
  display: grid;
  margin-top: 50px;
  grid-template-rows: repeat(1fr, 2);
}
/* Screen size bigger than 900px */
@media only screen and (min-width: 900px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-toggle {
    display: none;
  }
  .nav-list {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 7%;
    font-size: 1.4rem;
    font-weight: 250;
  }
  .nav-list {
    margin: 0;
    list-style: none;
  }
  .nav-list li {
    margin-left: 40px;
    text-decoration: none;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .nav-list li:not(:last-child) {
    border-bottom: none;
  }

  .nav-logo:link,
  .nav-logo:visited,
  .nav-list a:link,
  .nav-list a:visited {
    color: azure;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }
  .nav-logo:hover,
  .nav-list a:hover {
    border-bottom: 2px solid #f05555;
    opacity: 1;
  }
}

/* Intro */
/* .intro1 {
  font-weight: 200;
  font-size: 2rem;
}
.intro2 {
  font-size: 6rem;
  font-weight: 100;
  line-height: 84.3%;
  letter-spacing: 7px;
}
.intro3 {
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;

  opacity: 0.6;
  margin-top: 20px;
}
hr {
  width: 50%;

  margin-top: 15px;
  border: none;
  background-color: #f05555;
  height: 2.9px;
}
.intro-mini {
  font-size: 0.7em;
  margin-top: 15px;
  font-weight: 500;
} */
